/*---- register ----*/

.register{
  width: 40%;
  background: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid #ccc;
}
.title {
  text-align: center;
}
.name {
  margin: 10px;
}
.fullName {
}
  
.email {
  margin: 10px;
}
.password{
  margin: 10px;
}
.dofb{
  margin: 10px;
}
.curloc{
  margin: 10px;
}
.phone{
  margin: 10px;
}
.submit {
  text-align: center;
}

