/* Marketplace css */

.Categories {
width: 50%;
height: 40px;
margin-left: auto;
margin-right: auto; 
margin-top: 15vh;
border-radius: 20px;
}

.cat1, .cat2, .cat3, .cat4{
background-color: #f1f1f1;
margin: 15px;
display: inline-block;
justify-content: center;
padding: 70px;

}

