.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background-color: rgba(137, 136, 134, 1); 
  color: #61dafb;
  text-align: center;
  text-decoration: none;
}

main {
  min-height: 100vh;
}

.mentor, .courses, .market {
  text-decoration: none;
  background-color: #f1f1f1;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

input[type="text"], input[type=password] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
}
button[type="submit"]{
  color: #61dafb;
  background-color: rgba(137, 136, 134, 1); 
  margin: 8px 0;
  border: none;
  width: 10%;
  padding: 14px 20px;
}

/*---- Register Page ----*/
.register{
  background: #f1f1f1;
  margin: 20px auto;
  border: 1px solid #ccc;
  
}
.title {
  text-align: center;
}
/*--cards--*/

.card-deck{
  width: 60rem;
  
}
.card{
  border: #282c34;
  width: 15rem;
}
.card a {
text-decoration: none;
color:black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
