/* The css for the navigation menu. */

.navbar{
  background-color: #282c34;
  overflow: hidden;
}
.navbar a {
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:nth-child(2){
  float: right;  
}


