/* The css for the navigation menu. */

nav{
  background-color: #282c34;
  overflow: hidden;
}
nav a {
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:nth-child(4){
  float: right;  
}